<!-- to get input for template name and desc from user -->

{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Add a New Template{% endblock %}</h1>
    <form method="post">
        <label for="title">Template Title</label>
        <br>
        <input type="text" name="templateTitle"
               placeholder="Template title"
               value="{{ request.form['templateTitle'] }}"></input>
        <br>

        <label for="content">Template Description</label>
        <br>
        <textarea name="templateDescription"
                  placeholder="Template content"
                  rows="15"
                  cols="60"
                  >{{ request.form['templateDescription'] }}</textarea>
        <br>
        <br>
        <button type="submit" name="addTemplate">Add Template</button>
    </form>
{% endblock %}