<!-- to add an event to a template selected by user -->

{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Add a New Event{% endblock %}</h1>
    <form method="post">
        <label for="title">Title</label>
        <br>
        <input type="text" name="title"
               placeholder="Message title"
               value="{{ request.form['title'] }}"></input>
        <br>

        <label for="content">Description</label>
        <br>
        <textarea name="content"
                  placeholder="Message content"
                  rows="15"
                  cols="60"
                  >{{ request.form['content'] }}</textarea>
        <br>

        <label for="colour">Colour</label>
        <br>
        <input type="number" name="colour"
                  placeholder="Message content"
                  rows="15"
                  cols="60"
                  >{{ request.form['colour'] }}</textarea>
        <br>

        <label for="startdate">Start Date</label>
        <br>
        <input type="datetime-local" 
                  name="startdate"
                  placeholder="Message content"
                  rows="15"
                  cols="60"
                  >{{ request.form['startdate'] }}</input>
        <br>

        <label for="enddate">End Date</label>
        <br>
        <input type="datetime-local" 
                  name="enddate"
                  placeholder="Message content"
                  rows="15"
                  cols="60"
                  >{{ request.form['enddate'] }}</input>
        <br>

        <label for="email">Email</label>
        <br>
        <textarea name="email"
                  placeholder="Message content"
                  rows="15"
                  cols="60"
                  >{{ request.form['email'] }}</textarea>
        <br>
        <br>
        <button type="submit" name="addToTemplate">Add to Template</button>
    </form>
{% endblock %}